<%- model_class = Diet -%>
<%= content_for :page_header do %>
  <h2 class="navbar-brand"><%=t '.title', default: model_class.model_name.human.titleize %></h2>
<% end %>


<div class="row">
  <div class="card">
    <div class="card-header card-header-primary d-flex justify-content-between">
      <h4 class="mb-0"><%= t("custom.titles.user_info") %></h4>
      <%= link_to edit_info_path, class: 'btn btn-link text-white btn-sm p-0',
        data: { toggle: "tooltip", placement: "bottom" }, title: t('.links', default: [:'helpers.links.edit', 'Edit']) do %>
        <i class="material-icons">edit</i>
      <% end %>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <p><strong><%= User.human_attribute_name(:current_weight) -%></strong> <%= current_user.current_weight %></p>
        </div>
        <div class="col-6">
          <p><strong><%= User.human_attribute_name(:height) -%></strong> <%= current_user.height %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="card">
    <div class="card-header card-header-primary d-flex justify-content-between">
      <h4 class="mb-0"><%= model_class.model_name.human.titleize %></h4>
      <%= link_to edit_diet_path(@diet), class: 'btn btn-link text-white btn-sm p-0',
        data: { toggle: "tooltip", placement: "bottom" }, title: t('.links', default: [:'helpers.links.edit', 'Edit']) do %>
        <i class="material-icons">edit</i>
      <% end %>
    </div>
    <div class="card-body">
      <% if @diet.present? %>
        <div class="row">
          <div class="col-6">
            <p><strong><%= model_class.human_attribute_name(:start_at) -%></strong> <%= l(@diet.start_at, format: :date_only) %></p>
            <p><strong><%= model_class.human_attribute_name(:ideal_weight) -%></strong> <%= number_with_precision(@diet.ideal_weight, precision: 1) %>kg</p>
          </div>
          <div class="col-6">
            <p><strong><%= model_class.human_attribute_name(:finish_at) -%></strong> <%= l(@diet.finish_at, format: :date_only) %></p>
          </div>
        </div>
      <% else %>
        <%= link_to new_diet_path, class: 'btn btn-sm btn-outline-primary' do %>
          <%=t '.title', default: [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% if @diet.present?%>
  <div class="row">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="mb-0"><%= DietItem.model_name.human(count: 2) %></h4>
      </div>
      <div class="card-body">
        <% @diet.diet_items.order(:schedule).each do |item| %>
          <div class="d-flex justify-content-between border-bottom">
            <h5><%= DietItem.meals_i18n[item.meal] %></h5>
            <h5><%= l(item.schedule, format: :hour_only) %></h5>
          </div>
          <div class="card mt-2">
            <div class="card-body">
              <p><%= simple_format(item.description) %></p>
            </div>
          </div>
        <% end %>
        <!-- <%#= link_to new_diet_diet_item_path(@diet), class: 'btn btn-sm btn-outline-primary' do %>
          Adicionar novo item
        <%# end %> -->
      </div>
    </div>
  </div>
<% end %>