<%= content_for :page_header do %>
  <a class="navbar-brand" href="javascript:;">Dieta</a>
<% end %>

<div class="row">
  <div class="card">
    <div class="card-header card-header-primary">
      Dieta
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <p><strong>Início:</strong> <%= l @dieta.start_at %></p>
          <p><strong>Peso ideal:</strong> <%= number_with_precision(@dieta.ideal_weight, precision: 1) %>kg</p>
        </div>
        <div class="col-6">
          <p><strong>Fim:</strong> <%= l @dieta.finish_at %></p>
        </div>
      </div>
      <hr>
      <h4 class="card-title">Informações pessoais</h4>
      <div class="row">
        <div class="col-6">
          <p><strong>Altura:</strong> <%= current_user.height %></p>
        </div>
        <div class="col-6">
          <p><strong>Peso atual:</strong> <%= current_user.current_weight %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="card">
    <div class="card-header card-header-primary">
      Items da dieta
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <p><strong>Início:</strong> <%= l @dieta.start_at %></p>
          <p><strong>Peso ideal:</strong> <%= number_with_precision(@dieta.ideal_weight, precision: 1) %>kg</p>
        </div>
        <div class="col-6">
          <p><strong>Fim:</strong> <%= l @dieta.finish_at %></p>
        </div>
      </div>
      <hr>
      <h4 class="card-title">Informações pessoais</h4>
      <div class="row">
        <div class="col-6">
          <p><strong>Altura:</strong> <%= current_user.height %></p>
        </div>
        <div class="col-6">
          <p><strong>Peso atual:</strong> <%= current_user.current_weight %></p>
        </div>
      </div>
    </div>
  </div>
</div>