<div class="sidebar" data-color="green" data-background-color="white" data-image="">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">
    <%= link_to root_path, class: "simple-text logo-normal" do %>
      G-DietApp
    <% end %>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item <%= nav_link_active?(controller.controller_name, controller.action_name, "pages", "diet") %>">
        <%= link_to authed_dieta_path, class: "nav-link" do %>
          <i class="material-icons">content_paste</i>
          <p>Dieta</p>
        <% end %>
      </li>
      <li class="nav-item <%= nav_link_active?(controller.controller_name, controller.action_name, "pages", "dashboard") %>">
        <%= link_to authed_dashboard_path, class: "nav-link" do %>
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        <% end %>
      </li>
    </ul>
  </div>
</div>