
<%= bootstrap_form_for([:authed,@diet]) do |f| %>

  <div class="form-inputs p-2">
    <div class="d-flex flex-wrap mb-2">
      <%= f.date_field :start_at, as: :date, input_html: { class: "form-control" }, wrapper: { class: "col-md-6"} %>
      <%= f.date_field :finish_at, as: :date, input_html: { class: "form-control" }, wrapper: { class: "col-md-6"} %>
      <%= f.text_field :ideal_weight, input_html: { class: "form-control" }, wrapper: { class: "col-md-6"} %>
    </div>
    <div class="border-bottom">
      <h4 class="card-title">Items da dieta</h4>
    </div>
    <%= f.simple_fields_for :diet_items do |diet_item| %>
      <%= render partial: 'diet_item_fields', locals: { f: diet_item } %>
    <% end %>
    <div class="">
      <%= link_to_add_association 'Adicionar Item', f, :diet_items, class: 'btn btn-info mt-4', :"data-association-insertion-method" => "before" %>
    </div>
  </div>
  <div class="border-bottom mx-2"></div>
  <div class="form-actions d-flex justify-content-end p-2">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>
